# เหตุผล (Why): บอกให้ Git เลิกสนใจ (Ignore) ไฟล์ขยะของ macOS ไปซะ จะได้ไม่เผลอหลุดไปบน GitHub
.DS_Store

# เหตุผล (Why): กันไว้ก่อน เผื่อมีการบีบอัดไฟล์ใน Mac มันจะสร้างไฟล์ซ่อนพวกนี้มาด้วย
._*
.Spotlight-V100
.Trashes